.main-register{
	width:100vw;
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-color: black;
	color:rgb(220,220,220);
	text-align:center;
	h1{
		width:100%;
	}
	.registration-form{
		border:1px solid black;
		padding:2% 4%;
		border-radius:50px;
		.form-group{
			display:flex;
			padding: 5% 0%;
			white-space: nowrap;
			width:100%;
			label{
				flex:1;
				font-size: 1.2em;
				display:flex;
				align-items:center;
			}
			input{
				padding:1% 3%;
				border-radius:20px;
				border:1px solid black;
				outline: none;
				flex:1;
				font-size:1.2rem;
			}
		}
		button{
			font-size:1.1rem;
			border:none;
			border-radius:20px;
			padding:2% 4%;
		}
	}
}