<div class="main-register">
	<div class="registration-form">
		<h1>Registration</h1>
		<form [formGroup]="form" action="" (ngSubmit)="register()">
			<div class="form-group">
				<label for="">Login: </label>
				<input formControlName="login" type="text" placeholder="Create login...">
			</div>
			<div class="form-group">
				<label for="">Password: </label>
				<input formControlName="password" type="password" placeholder="Create password...">
			</div>
			<div class="form-group">
				<label for="">Confirm: </label>
				<input type="password" placeholder="Confirm password...">
			</div>
			<button type="submit">Registrate</button>
		</form>
	</div>
</div>
