/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;

  --color-header: black;
  --color-sidebar: rgba(0,0,0,0.7);
  --color-sidebar-border: rgba(0,0,0,0.85);
}
